<a href="https://colab.research.google.com/github/hamin32/-/blob/main/%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 조건문
### if
* https://docs.python.org/ko/3/tutorial/controlflow.html#if-statements

##기본개념

if: 처음 조건을 검사할 때 사용.

elif: 앞의 조건이 거짓일 때, 이어서 다른 조건을 검사할 때 사용.

else: 위의 모든 조건이 거짓일 때 실행.

In [12]:
# 숫자를 입력받아 음수와 양수 여부를 출력합니다.
x = int(input("Please enter an integer: "))
if x>0 :
      print('양수')
elif x==0 :
      print('영')
else:
      print('음수')

Please enter an integer: 0
영

## 반복문
### for
* https://docs.python.org/ko/3/tutorial/controlflow.html#for-statements

In [15]:
# 리스트 안에 있는 값을 순회하며 반복문으로 출력해 보세요.
words = ['배추', '무', '토마토', '사과']
words[1]
for w in words :
    print(w)

배추
무
토마토
사과

### range() 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#the-range-function

In [16]:
# range로 범위를 지정해 반복문을 수행할 수 있습니다.
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
range(5)

range(0, 5)

In [20]:
# 리스트를 변수로 받아 순회할 수도 있지만 리스트의 길이만큼 range 값을 생성하여 순회할 수도 있습니다.
a = ['Mary', 'had', 'a', 'little', 'lamb']
range(len(a))

range(0, 5)

In [21]:
# enumerate 를 사용하면 인덱스 번호와 값을 함께 가져올 수 있습니다.
for i, val in enumerate(a):
    print(i, val)

0 Mary
1 had
2 a
3 little
4 lamb

### range 응용

In [24]:
# 합계 구하기
# 0 + 1 + 2 + 3 를 range와 sum을 사용해 구합니다.
list(range(4))

[0, 1, 2, 3]

In [25]:
# 리스트로 만들기
# list를 사용해 [0, 1, 2, 3] 리스트를 생성합니다.
sum(range(4))

6

### 조건문과 반복문 함께 사용하기

In [27]:
# range로 값을 순회하며 짝수일 때는 "짝수"를 홀수일 때는 "홀수"를 출력하게 합니다.
for i in range(1, 11):       # i가 1부터 10까지 반복
    if i % 2 == 0:           # i를 2로 나눈 나머지가 0이면 (짝수라면)
        print("짝수")
    else:                    # 그렇지 않으면 (홀수라면)
        print("홀수")

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

### While 문
* 조건문이 참인 동안 순회하며 실행되기 때문에 특정 조건까지 반복문을 수행하고자 할때 사용합니다.
* 예를 들어 특정 웹페이지를 순회한다면 내용이 없을 때까지 순회하라는 반복문을 구현할 수 있습니다.

In [29]:
# 변수의 초깃값을 부여하고 특정 변수값이 되면 종료하도록 합니다.
변수 = 0

while True:                 # 무한 루프 시작
    변수 = 변수 + 1          # 변수에 1을 더함
    print(변수)              # 변수 값 출력
    if 변수 >= 10:          # 만약 변수 값이 10 이상이면
        break

1
2
3
4
5
6
7
8
9
10

## 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#defining-functions

In [26]:
# 평균을 구하는 average 라는 이름을 갖는 함수를 만들어 보세요.

def average(data):
   """우꺄꺄"""
   avg = sum(data) / len(data)
   return avg

In [22]:
# 함수가 잘 만들어졌는지 확인합니다.
data = range(1, 10)
average(data)

5.0

In [28]:
average??

### sum 함수 for 문으로 직접 구현해 보기

In [29]:
# 함수명은 total_sum 으로 매개변수는 num 이 되도록 구현합니다.
def total_sum(num):
    total = 0
    for i in num:
        total = total + i
    return total

In [30]:
# 함수가 잘 만들어졌는지 확인합니다.
num = range(1, 11)
print(list(num))
total_sum(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [33]:
sum(list(num))

55

In [34]:
{'경기': '031',
'강원': '033',
'충남': '041',
'충북': '043',
'경북': '054',
'경남': '055',
'전남': '061',
'전북': '063'}

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}

In [35]:
# 아래의 문자를 딕셔너리 형태로 변경하기
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"
# ">" 문자를 기준으로 문자열을 나눕니다. => split() 으로 리스트로 변환
# for문으로 리스트를 반복해서 phone_dict 에 채웁니다.

In [36]:
phone

'>경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063'

In [41]:
l_list = phone.split(">")

In [43]:
l_list

['',
 '경기 031 ',
 '강원 033 ',
 '충남 041 ',
 '충북 043 ',
 '경북 054 ',
 '경남 055 ',
 '전남 061 ',
 '전북 063']

In [46]:
l_list[1].split()

['경기', '031']

In [51]:
phone_dict = {}
for p in l_list:
    p_split = p.split()
    if len(p_split) > 0:
        key = p_split[0]
        val = p_split[1]
        phone_dict[key] = val
        print(key, val)

경기 031
강원 033
충남 041
충북 043
경북 054
경남 055
전남 061
전북 063

In [52]:
phone_dict

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}

In [54]:
phone_dict["충북"]

'043'